#sign-in-section{
    background-image: url('/static/home.jpg'); 
    background-repeat: no-repeat;
     background-size: cover; 
     background-position: center; 
     height: 100vh;
}

#sign-in-container{
    height: 100%;
}