#reset-password-background{
    background-image: url('/static/common.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    color: rgb(8, 7, 7);
}

#reset-password-container{
    min-height: 100vh;
}

#reset-password-form-container{
    opacity: 0.8;
}