#signup-background{
    background-image: url('/static/common.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: white;
}

#signup-container{
    min-height: 100vh;
}

.form-text {
    color: white;
}