{% extends 'base.html' %}
{% load static %}

{% block title %}Python-Django{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<section id="signup-background">
    <div class="container d-flex align-items-center justify-content-center" id="signup-container">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Sign Up</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form|crispy }}
                </div>
                {% if msg %}
                    <div class="alert alert-danger" role="alert">
                        {{ msg }}
                        {{msgerror}}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
